.column {
  
  height : 100vh;
}

.row1 {
  height: 33.33%;
  background-color :darkblue;
}
.row2 {
  height: 33.33%;
  background-color : red;
}
.row3 {
  height: 33.33%;
  background-color : orange;
}